[class*='-info-cont']{
    padding-top: 5px;
    display:grid;
    grid-template-columns: repeat(10, 8%);
    grid-column-gap: 10px;
    row-gap: 5px;
}
[class*='-label-name'],
[class*='-label-street'],
[class*='-label-city'],
.client-label-strdate,
.client-label-phone,
.client-label-email{
    grid-column: 1;
}
[class*='-input-name'],
[class*='-input-street']{
    grid-column: 2 / 6;
}
[class*='-input-city'],
.client-input-email{
    grid-column: 2 / 5;
}
.client-input-phone{
    grid-column: 2 / 4;
}
.client-input-phone2{
    grid-column: 5 / 7;
}